# Builded packages addon.xpi, addon.zip
*.xpi
*.zip
addon/
addon-firefox/
public/
# Node modules
node_modules/
package-lock.json
# Temporary folders
temp/
# Logs
npm-debug.log
# Mac specific
*.DS_Store