# Build
*.xpi
addon/
addon-firefox/
addon-safari/

# Node Modules
node_modules/

# NPM
package-lock.json
npm-debug.log

# Yarn
yarn.lock
yarn-error.log

# Laravel mixins
mix-manifest.json

# Temporary folders
temp/

# Mac specific
*.DS_Store