# Builded packages addon.xpi
*.xpi
addon/
addon-firefox/
# Node modules
node_modules/
package-lock.json
# Laravel mixins
mix-manifest.json
# Temporary folders
temp/
# Logs
npm-debug.log
# Mac specific
*.DS_Store