$title_font: 18px;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@mixin flexSpaceBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin panel($padding: 10px) {
    background-color: #f4f6fe;
    padding: $padding;
    border-radius: 3px;
    box-shadow: 0 0 1px black;
}

body {
    width: 600px;
    margin: 10px 8px 10px 8px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: black;

    div {
        box-sizing: border-box;
    }
}

.wrapper {
    text-align: center;
    width: 100%;

    .title {
        font-size: $title_font;
    }

    .organizer {
        .organizer--control {
            @include flexSpaceBetween();
            @include panel();

            margin-top: 5px;

            &--featured {
                width: 22px;
                background-color: lightgray;
                padding: 2px;
                border-radius: 3px;

                img {
                    width: 100%;
                }
            }

            input {
                min-height: 22px;
                padding: 2px 5px 2px 5px;
                border: 1px solid lightgray;
                border-radius: 3px;
                outline: none;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 2px #1b96ff;
                }
            }
        }

        .organizer--tabs {
            width: 100%;
            margin-top: 4px;

            .organizer--tabs--tab {
                @include panel(5px);

                width: 100%;
                cursor: pointer;

                .organizer--tabs--tab--header {
                    @include flexLeft();

                    .organizer--tabs--tab--header--state {
                        
                    }

                    .organizer--tabs--tab--header--count {
                        color: white;
                        background-color: #0176d3;
                        padding: 4px;
                        font-size: 11px;
                        line-height: 8px;
                        border-radius: 3px;
                    }

                    .organizer--tabs--tab--header--name {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}